---
layout: page
---
<h1>Tailored Copy for Conversion-Focused Businesses</h1>
<h2>Emails, lead magnets, product development, native ad assets, and website copy</h2>

<h3>Converting apprehensive prospects into hungry buyers, apathetic bystanders into faithful brand advocates, and chronic skimmers into ravenous followers</h3>

<p><strong>That's why I love writing copy.</strong></p>

<p>Messages weild boundless power. We live in a world constructed entirely of the meaning we create, and all that meaning can only be channeled one way: the messages we build in our heads and deliver to one another each and every day.</p>

<p>The tricky part is getting those messages right.</p>

<h2>So let me rephrase here: I love <strike>writing copy</strike> building messages that <em>make things happen</em>. My clients share that love too:</h2>

<div style="text-indent: 50px">
<p><strong>I'm super impressed with Wil's ability to deliver quality copy on time and on budget.</strong> He is easy to work, gets things right the first time (e.g. doesn't require handholding or endless revisions) and will surely be an asset to anyone seeking a competent and reliable copywriter. - Drew Kossoff, <a href="http://rainmakeradventures.com/" target='_blank'> Rainmaker Ad Ventures</a></p>

<p>Wil is one of the writers on the writing team I built and manage. He stands out because <strong>he's a fast learner and (unlike some writers I've worked with) he's dependable</strong>. He's also done a good job writing headlines for his stories. As a result, I've already referred a few copywriting jobs to Wil. - Ryan Healy, <a href="http://www.ryanhealy.com/" target='_blank'>Financial Copywriter</a></p>

<p>Wil is a pleasure to work with. He's prompt and professional. Writing for different industries is always a challenge, but he’s been able to quickly adapt to each client’s unique voice and industry jargon and always delivers great copy that requires minimal (if any) editing. <strong>I wouldn’t think twice about referring him or bringing him on-board for another project</strong>. - Chris Dodds, <a href="https://www.linkedin.com/in/doddschris" target='_blank'>Cloud Architect</a></p>
</div>

<p>Clicks, opt-ins, purchases, comments, likes, shares - whatever the metric may be, I like to see needles jump and graphs turn into hockey sticks. It takes work, and I don't get it right every time, but that's what makes it fun.</p>

<p>I'm guessing you might feel the same way. If you do, send me a message and we'll talk.</p>

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}"></textarea>
      <input type="text" name="_gotcha" style="display:none" />
      <button type='submit' class="button button-blue button-big mobile-block">{{ site.text.contact.submit }}</button>
    </form>
  {% else %}
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <input type="text" name="name" class="field-light" placeholder="Name">
      <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="Tell me a little about your project."></textarea>
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" class="button button-blue button-big mobile-block" value="Send">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}

<!--
{% assign posts_count = (paginator.posts | size) %}
<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %}
</div>
-->
