---
layout: default
---
<h1 class="home-head">Full-time Copywriter & Marketer <br>Specializing in Finance & Health</h1>

<h3 style="text-align: center">Part-time Programmer & Web Developer</h3>
<p></p>
<p>I'm a conversion-driven marketer... <strong>In other words, I help turn more prospects into leads, more leads into customers, and more customers into diehard fans of your company</p></strong>

<p>Copy is the biggest tool I use to make that happen.</p>

<p>But it's not the <em>only</em> tool...</p>

<p>My goal is to be a "full stack" marketer... Someone who can write effective copy, but also handle the other necessary factors for that copy to be successful.</p>

<p>If you're looking for someone like me, use the form below to tell me about your project.</p>

<p>You can also see my testimonials by <a href="/testimonials">clicking here</a></p> 

<p>Cheers,<br>
Wil</p>

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="{{ site.text.contact.content }}"></textarea>
      <input type="text" name="_gotcha" style="display:none" />
      <button type='submit' class="button button-blue button-big mobile-block">{{ site.text.contact.submit }}</button>
    </form>
  {% else %}
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <input type="text" name="name" class="field-light" placeholder="Name">
      <input type="text" name="email" class="field-light" placeholder="{{ site.text.contact.email }}">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="Tell me a little about your project."></textarea>
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="{{ site.text.contact.subject }}" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" class="button button-blue button-big mobile-block" value="Send">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}


