---
layout: page
---
<h1>Conversion Copywriter and Programmer</h1>
<h2>i.e. arranger of words and characters for maximum benefit</h2>

<p>Dear visitor,</p> 

<p>Thanks for stopping by to check out my personal site. If you're curious about me, here's the short version of my story.</p> 

<p>After spending a few years on the web working with digital agencies and business owners to make the most of their online marketing efforts, I decided I wanted to add a technical layer to my skill stack.</p> 

<p>Now I focus on freelance conversion copywriting and marketing consultancy while I pursue a second degree in Applied Computer Science at Roanoke College in Salem, VA.</p>

<p>Check back soon for fresh posts and more.</p>

<p>Cheers,</p>
<p>Wil</p>

<!--

{% assign posts_count = (paginator.posts | size) %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <p class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %}
</div> -->
